/* || COLOUR PALETTE
DARK PURPLE: #331832
CREAM: #F5EAD0
LIGHT GREEN: #CBDFBD
SALMON: #F19C79
BRICK RED: #A44A3F
*/

/* FONTS */
@import url("https://fonts.googleapis.com/css?family=Mali&display=swap");
:root {
  --button-shine: 1px 2px 2px white inset, -1px -1px 5px 1px black inset;
  --drop-shadow: 0 1px 5px 1px black;
  --depth:  0 0 5px 2px black inset;
  --salmon-shine: 1px 1px 4px 2px #f9b5a9 inset, 0 0 5px 2px #9b5347 inset;

}

html {
  font-size: calc(16px + 0.390625vw);
}
/* || MAIN SECTIONS */
body {
  background-color: #83c5be;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}
header {
  margin: auto 2%;
  text-align: center;
}
main {
  width: 98%;
  margin: 1%;
  display: grid;
  grid-template-columns: 30% 70%;
}
footer {
  margin: 1% 0 0 ;
  padding: 0.1%;
  text-align: center;
}
/* || SUBSECTIONS */
h1 {
  margin: 1% auto;
  padding: 2%;
  width: fit-content;
  font-family: "Mali", sans-serif;
}
h2 {
  margin: 0 auto;
  padding: .5%;
}
p {
  font-family: "Mali", sans-serif;
  margin: 2% auto;
}
/* || BORDERS */
.border-thin {
  border: 2px solid #006d77;
  border-radius: 5px;
}
.border-thick {
  border: 3px solid #4f232f;
  border-radius: 5px;
}
/* || BACKGROUND COLOURS */
.dark {
  background-color: #006d77;
}
.mid {
  background-color: #83c5be;
}
.light {
  background-color: #edf6f9;
}
.salmon {
  background-color: #e29578;
}
.cream {
  background-color: #ffddd2;
}

/* || FONT STYLES */
.mali {
  font-family: "Mali", sans-serif;
}
.light-font {
  color: #cde5d7;
}

/* || CALENDAR */
.calendar {
  width: 98%;
  height: 95vh;
  margin: 1%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  place-items: center;
}
.calendar-container {
  width: 98%;
  height: 100%;
  margin: 1%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  border: 3px solid #006d77;
  border-radius: 5px;
}
.entry {
  margin: 1.5%;
  padding: 1%;
  box-sizing: border-box;  
  display: flex;
  align-items: center;
}
.sept, .nov {
  font-size: 3em;
  margin: .5%;
  box-shadow: var(--salmon-shine);
}
.sept {
  grid-column: 1 / span 5;
}
.nov {
  grid-row: 6 / span 1;
  grid-column: 2 / span 6;
  justify-content: flex-end;
}
.day {
  display: grid;
  padding: 4% 0 0 0;
  grid-template-columns: 10% 90%;
  grid-template-rows: 10% 90%;
  grid-template-areas:
  "n ."
  "b b";
}
.number {
  box-sizing: border-box;
  padding: 10%;
  grid-area: n;
}
/* before click */
.booked-slot {
  text-align: center;
  margin: auto;
  width: 95%;
  box-sizing: border-box;
  font-size: auto;
  grid-area: b;
  place-self: center;
}
/* img and .details */
.booked-slot .hidden {
  display: none;
}
/* after click */
.booked-slot-big {
  z-index: 0;
  width: 78%;
  margin: -100%;
  padding: 1%;
  text-align: center;
  font-size: auto;
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: auto auto auto;
  place-content: center;
  place-items: center;
}
  .booked-slot-big button {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    margin: 1%;
    box-shadow: var(--button-shine);
    border: none;
    border-radius: 2px;
  }
  .booked-slot-big .details {
    grid-column: 1 / 5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    margin: auto;
  }
  .booked-slot-big img {
    display: block;
    margin: 1% auto;
    max-height: 50vh;
    max-width: 50vw;
    grid-column: 1 / 4;
  }

/* || FORM */
.booking-form {
  width: 100%;
  margin: 1%;
  font-family: "Mali", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 100vh;
}
fieldset {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: .5%;
}
legend {
  text-align: left;
  margin: 1% 0 1% 0;
  box-shadow: var(--salmon-shine);
  border: 2px solid #893e31;
  border-radius: 5px;
}
.submit {
  margin: 2% auto;
  width: fit-content;
  padding: 1%;
  font-size: 120%;
  box-shadow: var(--salmon-shine);
  border: 2px solid #893e31;
  border-radius: 5px;
}
.submit:hover {
  transition: all 0.5s ease-in-out;
  font-size: 160%;
  background-color: #e6a289;
  padding: 1% 5%;
}
/* || SPECIES GRID */
.pet-type {
  display: grid;
  justify-items: stretch;
  padding: 0 10% 0 10%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
}
/* || SPECIES PLACEMENTS*/
.species {
  text-align: center;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

/* || MEDIA QUERIES */

@media (orientation: portrait) {
  main {
    display: flex;
    flex-direction: column;
    place-content: space-evenly;
    place-items: center;
    height: 150vh;
  }
  header, h1, h2 {
    display: none;
  }
  .booking-form {
    width: 98%;
    height: 40%;
    place-items: center;
  }

  .form{
  width: 98%;
  min-height: 100%;
  margin: 1%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "name id"
    "type type"
    "type type"
    "date time"
    "submit submit";
    place-content: center;
    place-items: center;
  }
  .pet-id {
    grid-area: id;
    width: 100%;
    height: 19vh;
    margin: 1%;
    box-sizing: border-box;
  }
  .pet-name {
    grid-area: name;
    width: 100%;
    height: 19vh;
    margin: 1%;
    box-sizing: border-box;
  }
  .pet-type {
    grid-area: type;
    width: 100%;
    height: 25vh;
    margin: 1%;
    box-sizing: border-box;
  }
  .date {
    grid-area: date;
    width: 100%;
    height: 19vh;
    margin: 1%;
    box-sizing: border-box;
  }
  .time {
    grid-area: time;
    width: 100%;
    height: 19vh;
    margin: 1%;
    box-sizing: border-box;
  }

  .submit {
    grid-area: submit;
    width: 50%;
    height: 8vh;
    margin: 1%;
    box-sizing: border-box;
  }
}

@media (orientation: landscape) {
  /* FORM
  .booking-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 100vh;
  }
  fieldset {
    margin: .2vh;
    padding: 2% 0.5%;
  }
  legend {
    margin: 0;
  }
  fieldset p {
    margin: .2vh;
  }
  SPECIES GRID 
  .pet-type {
    padding: 0 5%;
  }
  .sept, .nov {
    font-size: 8vw;
  }
    .booked-slot {
    height: fit-content;
    font-size: 3vw;
  } */
}
